{% macro draw_path(region_coord) -%}
    <path
        d="
            M {{ region_coord[0][0] }},{{ -region_coord[0][1] }}
        {% for coordinate in region_coord[1:] %}
            L {{ coordinate[0] }},{{ -coordinate[1] }}
        {% endfor %}
        "
        style="fill:rgb(203, 203, 255)"
    />
{%- endmacro %}

{% macro repeat_labels_on_top(regions, name) -%}
    {% for region in regions %}
        <use xlink:href="#{{ name }}-{{ region["properties"]["id"] }}-text"/>
    {% endfor %}
{%- endmacro %}

{% macro generate_regions(regions, name) -%}
    {% for region in regions %}
        <g 
            class="{{ name }} region"
            data-name="{{ region['properties']['nazwa'] }}"
            data-type="{{ name }}"
            data-region_wage_mean="{{ wojewodztwa_wage_mean.get(unidecode(region['properties']['nazwa'])) }}"
            data-west_border="{{ region["west_border"] }}"
            data-north_border="{{ region["north_border"] }}"
            data-width="{{ region["width"] }}"
            data-height="{{ region["height"] }}"
            onclick="activate(this)"
        >
            {% if region['geometry']['type'] == "Polygon" %}
                {{ draw_path(region['geometry']['coordinates'][0]) }}
            {% else %}
                {% for subregion in region['geometry']['coordinates'] %}
                    {{ draw_path(subregion[0]) }}
                {% endfor %}
            {% endif %}
            <text id="{{ name }}-{{ region["properties"]["id"] }}-text" x="{{ region["center"][0] }}" y="{{ -region["center"][1] }}" >{{ region["properties"]["nazwa"] }}</text>
        </g>
    {% endfor %}
{%- endmacro %}

{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    <h1>Zarobki w pielęgniarstwie</h1>
    <div class="container">
        <div class="row">
            <div class="column-md-6">
                <div>
                    <a href="#" class="zoom_out btn btn-primary btn-lg" onclick="zoom_out()" tabindex="-1" role="button">Zoom out</a>
                    <a href="#" class="btn btn-primary btn-lg" onclick="show_powiats()" tabindex="-1" role="button">Powiaty/Województwa</a>
                </div>
                <div>
                <svg class="map"
                    viewBox="{{ poland_west_most }} {{ -poland_north_most }} {{ poland_width }} {{ poland_height }}"
                >
                    <defs>
                        <!-- Source: Michael Mullany https://stackoverflow.com/a/20778593
                            CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0/) -->
                        <filter id="inset-shadow" >
                            <!-- dial up the opacity on the shape fill to "1" to select the full shape-->
                            <feComponentTransfer in="SourceGraphic" result="inset-selection">
                                <feFuncA type="discrete" tableValues="0 1 1 1 1 1"/>
                            </feComponentTransfer>
                
                            <!-- dial down the opacity on the shape fill to "0" to get rid of it -->
                            <feComponentTransfer in="SourceGraphic" result="original-no-fill">
                                <feFuncA type="discrete" tableValues="0 0 1"/>
                            </feComponentTransfer>
                
                            <!-- since you can't use the built in SourceAlpha generate your own -->
                            <feColorMatrix type="matrix" in="original-no-fill" result="new-source-alpha" values="
                                0 0 0 0 0
                                0 0 0 0 0
                                0 0 0 0 0
                                0 0 0 1 0"
                            />
                            <feGaussianBlur in="new-source-alpha" result="blur" stdDeviation="0.05" />
                            <feGaussianBlur in="new-source-alpha" result="blur2" stdDeviation="0.020" />
                            <feGaussianBlur in="new-source-alpha" result="blur3" stdDeviation="0.025" />
                            <feMerge result="blur">
                                <feMergeNode in="blur" mode="normal"/>
                                <feMergeNode in="blur2" mode="normal"/>
                                <feMergeNode in="blur3" mode="normal"/>
                            </feMerge>
                            <!-- select the portion of the blur that overlaps with your shape -->
                            <feComposite operator="in" in="inset-selection" in2="blur" result="inset-blur"/>
                             <!-- composite the blur on top of the original with the fill removed -->
                            <feComposite operator="over" in="original-no-fill" in2="inset-blur"/>            
                        </filter>
                    </defs>
                    {{ generate_regions(powiaty|select("is_lowercase"), 'powiat') }}
                    {{ generate_regions(powiaty|select("has_uppercase"), 'powiat') }}
                    {{ generate_regions(wojewodztwa, 'wojewodztwo') }}
                    {{ repeat_labels_on_top(wojewodztwa, 'wojewodztwo') }}
                    {{ repeat_labels_on_top(powiaty, 'powiat') }}
                </svg></div>
            </div>
            <div class="column-md-6">
                <h2 id="active_region"></h2>
                <h3 id="active_region_type"></h3>
                <div id="active_region_data"></div>
            </div>
        </div>
    </div>
    <script>
        const map = document.querySelector(".map");
        const powiats = {{ powiats_data | safe }};
        let previous_woj = null;
        let previous_pow = null;


        function activate(element) {
            if (element.dataset.type == 'wojewodztwo') {
                if (previous_woj) {
                    previous_woj.classList.remove('selected');
                }
                previous_woj = element;
            } else {
                if (previous_pow) {
                    previous_pow.classList.remove('selected');
                }
                previous_pow = element;
            }
            element.classList.add('selected');

            let active_region = element.dataset.name;
            let active_region_type = element.dataset.type;
            console.log(active_region);
            
            

            document.querySelector('#active_region').textContent = active_region;
            document.querySelector('#active_region_type').textContent = active_region_type;

            if (active_region_type == "powiat") {
                let powiat_key = active_region;
                if (!(active_region in powiats)) {
                powiat_key = active_region.replace("powiat ", "");
                console.log(powiat_key);
                }
                powiat = powiats[powiat_key];
                console.log(powiat);

                document.querySelector('#active_region_data').textContent = powiat["Województwo"];
            }
            
            const activated_region_type = element.dataset.type;

            if (activated_region_type == "powiat") {
                map.classList.remove('wojewodztwo_selected');
                map.classList.add('powiat_selected');
            }
            else if (activated_region_type == "wojewodztwo") {
                map.classList.remove('powiat_selected');
                map.classList.add('wojewodztwo_selected');
            }

            // zoom in
            zoom_to({
                x: element.dataset.west_border,
                y: element.dataset.north_border,
                width: element.dataset.width,
                height: element.dataset.height
            });
        }

        function zoom_to(area) {
            let x;
            let y;
            let width;
            let height;

            let start_viewBox = map.viewBox.baseVal;
            let start_x = start_viewBox.x;
            let start_y = -start_viewBox.y;
            let start_height = start_viewBox.height;
            let start_width = start_viewBox.width;

            const epsilon = 0.001;

            const shift_x = (area.x - start_x) / 10;
            const shift_y = (area.y - start_y) / 10;
            const shift_width = (area.width - start_width) / 10;
            const shift_height = (area.height - start_height) / 10;

            function update_viewBox() {
                x =  start_x + shift_x;
                y = start_y + shift_y;
                width = start_width + shift_width;
                height =  start_height + shift_height;
                
                map.setAttribute('viewBox', `${x} ${-y} ${width} ${height}`);
                
                if (
                    Math.abs(x - area.x) > epsilon ||
                    Math.abs(y - area.y) > epsilon ||
                    Math.abs(width - area.width) > epsilon ||
                    Math.abs(height - area,height) > epsilon
                ) {
                    window.requestAnimationFrame(update_viewBox);
                }

                start_x = x;
                start_y = y;
                start_width = width;
                start_height = height;
            }
            window.requestAnimationFrame(update_viewBox); 
        }
        
        // Zoom out
        function zoom_out() {

            //if type woj: zoom to poland
            //if type pow zoom to woj
            const poland = {
                x: {{ poland_west_most }},
                y: {{ poland_north_most }},
                width: {{ poland_width }},
                height:{{ poland_height }}
            };
            if (previous_woj) {
                previous_woj.classList.remove('selected');
            }
            previous_woj = null;
            zoom_to(poland)
            
            map.classList.remove('powiat_selected');
            map.classList.remove('wojewodztwo_selected');
        }

        // show_powiats
        function show_powiats() {
            map.classList.toggle('show_powiats');
        }

        let wojewodztwa = document.querySelectorAll(".wojewodztwo");
        let i = 0;
        let wages_list = [];
        for (let wojewodztwo of wojewodztwa) {
            wages_list.push(parseFloat(wojewodztwo.dataset.region_wage_mean))
        };
        
        let wages_min = Math.min(...wages_list);
        let wages_max = Math.max(...wages_list);
        let wages_span = wages_max - wages_min;
        console.log(wages_min, wages_max, wages_span);

        for (let wojewodztwo of wojewodztwa) {
            let wages_mean = parseFloat(wojewodztwo.dataset.region_wage_mean)
            let wages_perc = (wages_mean - wages_min) / wages_span * 100;
            let redness = 255 - (255 * wages_perc / 100);
            console.log(redness)
            wojewodztwo.firstElementChild.style.fill = `rgb(${redness},0,0)`
        };

    </script>
{% endblock %}